[submodule "private_dot_config/bat/external_themes/catppuccin"]
	path = private_dot_config/bat/external_themes/catppuccin
	url = https://github.com/catppuccin/bat.git
[submodule "private_dot_config/tmux/external_plugins/tpm"]
	path = private_dot_config/tmux/external_plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "private_dot_config/zsh/external_plugins/zsh-completions"]
	path = private_dot_config/zsh/external_plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "private_dot_config/zsh/external_plugins/zsh-syntax-highlighting"]
	path = private_dot_config/zsh/external_plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "private_dot_config/zsh/external_plugins/zsh-autosuggestions"]
	path = private_dot_config/zsh/external_plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "private_dot_config/zsh/external_plugins/zsh-history-substring-search"]
	path = private_dot_config/zsh/external_plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "private_dot_config/zsh/external_themes/powerlevel10k"]
	path = private_dot_config/zsh/external_themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
